@model Mvc_Maneiro.Models.Aluno
@{
    Layout = null;
    ViewBag.Title = "Detalhes";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-secondary">Detalhes do Registro</h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>

        <div class="modal-body">
            <h5>Aluno</h5>
            <br />
            <p>@Html.DisplayNameFor(model => model.Nome) : @Html.DisplayFor(model => model.Nome)</p>
            <p>@Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)</p>
            <p>@Html.DisplayNameFor(model => model.Curso) : @Html.DisplayFor(model => model.Curso)</p>
            <p>@Html.DisplayNameFor(model => model.Sexo) : @Html.DisplayFor(model => model.Sexo)</p>
        </div>
        <div class="modal-footer">
            <div class="form-actions no-color">
                @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) 
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

