@model IEnumerable<Mvc_Maneiro.Models.Aluno>

@{
    Layout = null;
    ViewBag.Title = "Lista Alunos";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/bootstrap.css">

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <h2>Listar Alunos</h2>
    <br />
    <br />
    <div>
        <table class="table table-striped" id="alunos">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Curso)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sexo)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sexo)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>